@charset "utf-8";

/*****   VIDEO SCSS *****/


#video1, #video2{
    flex-direction: column;
    align-items: center;
    .videoFrame{
        border: 1px solid #{map-get($colors, primary)};
        padding: 1rem;
        text-align: center;
        
    }
    .summary{
        margin: 1rem 0;
    }
    h2{
        color: #{map-get($colors, primaryDarker)};
        font-family: $headFont;
        font-size: 1.2rem;
        margin: 1rem 0;
    }
    a{color: #{map-get($colors, primaryDarker)};
        
    }
}

#video2{
    border-top: 1px solid #{map-get($colors, greyLighter)};
}

.video-js{
    width: 270px;
    height: 144px;
    @include breakpoint(tablet){
        width   :   673px;
        height  :   360px;
    }

} 

.video-js .vjs-big-play-button{
    border: 0.06666em solid #{map-get($colors, contrastLigther)};
}


